html {
  background-color: slategray;
}
body {
  min-height: 100%;
}

.Home {
  text-align: center;
  min-height: 100%;
}

.pageMargins {
  padding:10px;
}

.primaryBtn {
  margin:2px;
}

.stdMargin {
  margin: 15px;
}




